<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Course list</title>
</head>
<body>
<div layout:fragment="content">
    <a th:href="@{/cms/courses/add}">
        <button class="btn btn-primary">
            Add a new course
        </button>
    </a>
    <br/>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Number of Semester</th>
            <th scope="col">Number of Subjects</th>
            <th scope="col">Number of Batches</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="course: ${courses}">
            <th scope="row" th:text="${course.getId()}"></th>
            <td th:text="${course.getName()}"></td>
            <td th:text="${course.getCode()}"></td>
            <td th:text="${course.getNumberOfSemester()}"></td>
            <td th:text="${course.getNumberOfSubjects()}"></td>
            <td th:text="${course.getNumberOfBatches()}"></td>
            <td>
                <!--<a th:href="@{/cms/courses/edit/{id}(id = ${course.getId()})}">-->
                    <!--<button class="btn btn-secondary" th:text="Edit"></button>-->
                <!--</a>-->
                <a th:href="@{/cms/courses/delete/{id}(id = ${course.getId()})}" onclick="return confirm('Are you sure?')">
                    <button class="btn btn-danger" th:text="Delete"></button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>