<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit this course</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin: 0 auto">
            <form autocomplete="off" action="#" th:action="@{/cms/courses/edit/{id}(id = ${courseId})}"
                  th:object="${course}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <div class="col-sm-9 form-item">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 form-item">
                        <label th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{code}"
                               placeholder="Code" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 form-item">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>