<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Attendance list</title>
    <script>
        function updateAttendance(attendanceId) {
            var attendanceValue = document.getElementById('attendance'+attendanceId).value;
            window.location.href = "/cms/attendances/" + attendanceId + "/update?value="+attendanceValue;
        }

        function skipDate(attendanceId) {
            if(confirm('Are you sure to skip this date?')){
                window.location.href = "/cms/attendances/" + attendanceId + "/skip";
            }
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div style="font-size: 12px">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">NY</th>
                <th scope="row">NA</th>
                <th scope="row">A</th>
                <th scope="row">AL</th>
                <th scope="row">UL</th>

            </tr>
            <tr>
                <td>Not yet</td>
                <td>Not attended</td>
                <td>Attended</td>
                <td>Authorized leave</td>
                <td>Unauthorized leave</td>
            </tr>
            </tbody>
        </table>
    </div>
    <table th:if="${attendances != null && attendances.size()>0}" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Student name</th>
            <th scope="col" style="min-width: 150px" th:each="attendance : ${attendances.get(0).getAttendanceList()}">
                <p th:text="${#dates.format(attendance.getCheckingDate(),'MMM dd, yyyy')}"></p>
                <button
                        th:if="${!attendance.getStatus().toString().equals('Skipped')}"
                        class="btn btn-danger"
                        th:onclick="'skipDate(\''+ ${attendance.getId()} + '\');'">Skip</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendance: ${attendances}">
            <th scope="row" th:text="${attendance.getStudentName()}"></th>
            <td th:each="checkingItem : ${attendance.getAttendanceList()}">
                <select
                        th:id="'attendance'+${checkingItem.getId()}"
                        th:onchange="'updateAttendance(\''+ ${checkingItem.getId()} + '\');'"
                        th:disabled="${checkingItem.getStatus().toString().equals('Skipped')}">
                    <option th:selected="${checkingItem.getStatus().toString().equals('NotYet')}" value="NotYet">NY</option>
                    <option th:selected="${checkingItem.getStatus().toString().equals('NotAttended')}" value="NotAttended">NA</option>
                    <option th:selected="${checkingItem.getStatus().toString().equals('Attended')}" value="Attended">A</option>
                    <option th:selected="${checkingItem.getStatus().toString().equals('AuthorizedLeave')}" value="AuthorizedLeave">AL</option>
                    <option th:selected="${checkingItem.getStatus().toString().equals('UnauthorizedLeave')}" value="UnauthorizedLeave">UL</option>
                    <option
                            th:if="${checkingItem.getStatus().toString().equals('NotYet') || checkingItem.getStatus().toString().equals('Skipped')}"
                            th:selected="${checkingItem.getStatus().toString().equals('Skipped')}" value="Skipped">S</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>