<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Class list</title>
    <script>
        function navigateToClassDetail(id) {
            window.location.href = "/cms/classes/" + id;
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Class name</th>
            <th scope="col">Teacher</th>
            <th scope="col">Subject</th>
            <th scope="col">Students</th>
            <th scope="col">Lessons</th>
            <th scope="col">Start date</th>
            <th scope="col">Estimated end date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="bClass: ${bClasses}" th:onclick="'navigateToClassDetail(\''+ ${bClass.getId()} + '\');'">
            <th scope="row" th:text="${bClasses.indexOf(bClass) + 1}"></th>
            <td th:text="${bClass.getName()}"></td>
            <td th:text="${bClass.getTeacherName()}"></td>
            <td th:text="${bClass.getSubjectName()}"></td>
            <td th:text="${bClass.getNumberOfStudents()}"></td>
            <td th:text="${bClass.getNumberOfLessons()}"></td>
            <td th:text="${#dates.format(bClass.getStartDate(),'MMM dd, yyyy')}"></td>
            <td th:text="${#dates.format(bClass.getEstimatedEndDate(),'MMM dd, yyyy')}"></td>
            <td>
                <a th:href="@{/cms/classes/edit/{id}(id = ${bClass.getId()})}">
                    <button class="btn btn-secondary" th:text="Edit"></button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>